@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.App {
  @apply max-w-[340px] md:max-w-[660px] mx-auto px-2 py-2;
}

.inputs {
  @apply flex flex-wrap justify-start xl:justify-center;
  input {
    @apply text-center font-mono mx-0 my-0 p-0 rounded
    focus-visible:outline-none
    focus-visible:bg-white/10;
  }
}
.myinput {
  @apply bg-[#000] text-[#fff] 
  text-base w-5;
}
.btns {
  @apply flex justify-center;
  .btn {
    @apply bg-white text-black;
  }
}
