@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  @apply text-white bg-black font-Ubunto;
}

.App {
  @apply max-w-[340px] md:max-w-[660px] mx-auto px-2 py-2;
}

.chars {
  @apply flex flex-wrap justify-start xl:justify-center;
  .char {
    @apply text-center mx-0 my-0 p-0 rounded  w-5;
    &.correct {
      @apply text-green drop-shadow-glow-green;
    }
    &.incorrect {
      @apply text-grey/80;
    }
    &.incorrectPosition {
      @apply text-yellow drop-shadow-glow-yellow;
    }
  }
}
input {
  @apply transition-all duration-200 outline-none
  focus-visible:outline-none
  focus-visible:bg-white/10
  md:hover:bg-white/5
  hover:cursor-pointer rounded;
}
.charInput {
  @apply bg-[#000] text-[#fff] 
  text-base;
}
.btns {
  @apply py-2;
  .btn {
    @apply flex justify-center transition-all duration-150 w-full text-center;

    &:hover {
      svg {
        @apply scale-125;
      }
    }
    &:active {
      svg {
        @apply scale-110;
      }
    }

    svg {
      @apply transition-all duration-150
    text-white justify-self-center h-5 w-5;
    }
  }
}

.check-guess {
  @apply flex flex-col-reverse;

  .guess {
    @apply w-full py-3;
  }
}
