@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family: "Ubuntu Mono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.App {
  @apply max-w-[340px] md:max-w-[660px] mx-auto px-2 py-2;
}

.chars {
  @apply flex flex-wrap justify-start xl:justify-center;
  .char {
    @apply text-center mx-0 my-0 p-0 rounded  w-5;
    &.correct {
      @apply text-green drop-shadow-glow-green;
    }
    &.incorrect {
      @apply text-grey/80;
    }
    &.incorrectPosition {
      @apply text-yellow drop-shadow-glow-yellow;
    }
  }
}
input {
  @apply transition-all duration-200 outline-none
  focus-visible:outline-none
  focus-visible:bg-white/10
  md:hover:bg-white/5
  hover:cursor-pointer rounded;
}
.charInput {
  @apply bg-[#000] text-[#fff] 
  text-base;
}
.btns {
  @apply py-2;
  .btn {
    @apply flex justify-center transition-all duration-150 w-full text-center;

    &:hover {
      svg {
        @apply scale-125;
      }
    }
    &:active {
      svg {
        @apply scale-110;
      }
    }

    svg {
      @apply transition-all duration-150
    text-white justify-self-center h-5 w-5;
    }
  }
}

.check-guess {
  @apply flex-col-reverse;

  .guess {
    @apply w-full py-3;
  }
}
